<header style="text-align:center;border-bottom:black thin solid;">
<h1>About</h1>
</header>
<div style="display:flex; flex-wrap:wrap;justify-content:space-around;width:100%;padding-top:10px">
  
  <div> 
    <img width=300 <%= image_tag 'imout.jpg' %> 
  </div>
  <p style="flex: 0 1 300px;">
  Ok ok I'm out i'm out.... not sleeping inside......
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima cumque possimus recusandae autem beatae temporibus debitis iste aperiam tempora, itaque, atque nostrum! Adipisci consequatur earum, odio non minus error culpa!
  </p>
  <div>
    
    <img width=300 <%= image_tag 'imout.jpg' %> 
  </div>  
  
  </div>
</div>
<footer style="border-top :black thin solid">
<%= link_to 'Home', root_path %>
</footer>
