<header style="text-align:center;border-bottom:black thin solid;">
<h1>Home</h1>
</header>
<div style="display:flex; flex-wrap:wrap;justify-content:space-around;width:100%;padding-top:10px">
  
  <div> 
    <img width=300 <%= image_tag 'fishing_place.jpg' %> 
  </div>
  <p style="flex: 0 1 300px;">
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minus suscipit velit ab cupiditate minima, fugiat deserunt adipisci laborum voluptatum eaque nesciunt possimus dolorem. Doloribus vel similique cupiditate dolores non?
  </p>
  <div>
    
    <img width=300  <%= image_tag 'fishing_place.jpg' %> 
  </div>  
  
  </div>
</div>
<footer style="border-top :black thin solid">
<%= link_to 'About', about_path %>
</footer>
